
.container {
  background: green;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .container > a {
  text-align: center;
  color: yellow;
  display: block;
  text-decoration: none;
}


#menu {
    position: absolute;
    z-index:1;
    background-color: green;
    padding: 0px;
    margin-top: 10px;
}

#submenu {
  background: green;
  position: absolute;
  z-index:1;
  left: 56px;
  width:100px;
  padding: 0px;
  /* padding: 0px 10px 0px 10px; */
    
}

#menudiv > a {
    text-decoration: none;
    color: yellow;
}

li { 
    list-style-type: none;
    display: block;
    padding-top:10px;
    /* padding-left: 10px;
    width: 75px; */
}

li > a {
    color: yellow;
}
